<h1>YUM!</h1>

<h2>BURGERS~!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.eaten}}
      <li>
        {{this.burger}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eaten" value="true">
          <button type="submit">Eat burger!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers eaten...</h2>

<ul>
  {{#each burgers}}
    {{#if this.eaten}}
      <li>
        {{this.burger}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="eaten" value="false">
          <button type="submit">UNEAT (time manipulation)!</button>
        </form>

        {{> burgers/delete-burger}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger to order</label>
    <input type="text" id="ca" name="burger">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="eaten" value="1" checked> Eat NOW!<br>
    <input type="radio" name="eaten" value="0"> eat later.
  </div>

  <button type="submit">Add burger</button>
</form>
